$high-white: #ddd;
$low-white : #b9b9b9;
$title-font: 'Neucha', cursive;
$desc-font: 'Shadows Into Light', cursive;
$space-text-max: 3px;
$space-text-min: 1px;
$margin-auto: 0 auto;
$size: 180px;
$rb: rgb(8, 55, 197);

$alert: (
    'green' : mediumseagreen,
    'blue' : cornflowerblue,
    'yellow' : goldenrod,
    'red' : mediumvioletred,
    'purple' : purple
);

$navBtn: (
    'github' : rgb(189, 189, 189),
    'githubbg' : rgb(212, 212, 212),
    'sign' : royalblue,
);
